[mysqld]
datadir             = /var/lib/mysql
secure-file-priv    = /var/lib/mysql-files
secure-log-path     = /var/log/mysql
#log-error           = /var/log/mysql/error.log
log-error           = stderr
slow_query_log_file = /var/log/mysql/mysql-slow.log 
tmpdir              = /tmp
replica-load-tmpdir = /tmp-replica 
socket              = /var/run/mysqld/mysqld.sock
pid-file            = /var/run/mysqld/mysqld.pid

[client]
socket              = /var/run/mysqld/mysqld.sock
user                = root